body {
  background-color: lightblue;
  font-family: Courier;
  color: darkblue;
}

img {
  width: 300px;
  margin: auto;
  display: block;
  border-style: dashed;
  border-width: 10px;
  border-color: blue;
}
